@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}
 "sciLedger" here */

@source "../node_modules/@skeletonlabs/skeleton-svelte/dist";
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}
